@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#banner1_052944049 {
	background-color: #ffffff;
	border: 0;
	box-sizing: border-box;
	cursor: default;
	display: block;
	height: 450px;
	overflow: hidden;
	position: relative;
	width: 650px;
	z-index: 1;
}

#banner1_052944049 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#banner1_052944049 img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}

#b_1_banner1_052944049 {
	top: 0px;
	left: 0px;
	z-index: 1;
}

#img_1_banner1_052944049 {
	width: 650px;
	height: 450px;
}

#img_1_banner1_052944049.bnfy-enter {
	-webkit-animation: fade-in 500ms 0ms ease 1 both;
	animation: fade-in 500ms 0ms ease 1 both;
}

#b_2_banner1_052944049 {
	top: 153px;
	left: 62px;
	z-index: 2;
}

#img_2_banner1_052944049 {
	width: 166px;
	height: 166px;
}

#img_2_banner1_052944049.bnfy-enter {
	-webkit-animation: fade-in 500ms 0ms ease 1 both;
	animation: fade-in 500ms 0ms ease 1 both;
}

#b_3_banner1_052944049 {
	top: 0px;
	left: 8.5px;
	z-index: 3;
}

#img_3_banner1_052944049 {
	width: 123px;
	height: 136px;
}

#img_3_banner1_052944049.bnfy-enter {
	-webkit-animation: fade-in 500ms 0ms ease 1 both;
	animation: fade-in 500ms 0ms ease 1 both;
}

@media (print), (prefers-reduced-motion: reduce) {
	.banner__element {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}
@-webkit-keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@-webkit-keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
@keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fade-in {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
